datasets/Bible-kjv/**
datasets/*.json
!datasets/bible_book_chapters.json
*.env
env/** 
venv/**
__pycache__/**
outfiles/wav/**
outfiles/mp3/**
outfiles/mp4/**
outfiles/prompts/*txt
outfiles/prompts/prompt_history.txt
outfiles/prompts/prompts_cache.txt
log/**
log/*.txt
*.mp4
*.mp3
*.wav
*.avi
*.mkv
*.flv
*.wmv
*.mov
client_secrets.json
.cursorignore
*.txt
*.log

# still in development
legacy_scripts/**
suno_api.py
youtube_api.py
write_to_file.py
requirements_yt_api.txt